name: clean_architecture_workspace

publish_to: none

environment:
  sdk: ^3.10.0

workspace:
  - packages/architecture_lints
  - packages/clean_architecture_core
  - packages/clean_architecture_kit
  - packages/clean_architecture_lints_experimental
  - examples/clean_feature_first

dev_dependencies:
  melos: ^7.3.0
  very_good_analysis: ^10.0.0

melos:
  scripts:
    analyze:
      packageFilters:
        scope:
          - example
      run: dart run custom_lint

    generate:
      run: dart run build_runner build --delete-conflicting-outputs
      exec:
        concurrency: 4
          #packageFilters:
          #scope:
          #- app_example
        #- console_example
    test:
      run: dart test