name: architecture_workspace
description: Monorepo for Architecture Lints and Presets.
publish_to: none

environment:
  sdk: ^3.10.0

workspace:
  - packages/architecture_lints
  - packages/architecture_clean
  - examples/clean_feature_first

dev_dependencies:
  melos: ^7.3.0
  very_good_analysis: ^10.0.0

melos:
  scripts:
    analyze:
      name: Custom Lint Analysis
      description: Runs custom_lint on the example project.
      run: dart run custom_lint
      packageFilters:
        scope:
          - clean_feature_first

    watch:
      name: Custom Lint Watch
      description: Runs custom_lint in watch mode on the example project to test plugin changes.
      run: dart run custom_lint --watch
      packageFilters:
        scope:
          - clean_feature_first
      # The command to run inside the example folder

    test:
      name: test
      description: Run all unit tests in the workspace.
      run: dart test
      packageFilters:
        scope:
          - architecture_lints
        dirExists: test

    format:
      name: format
      description: Run all unit tests in the workspace.
      run: dart format .
      packageFilters:
        scope:
          - architecture_lints

    fix:
      name: fix
      description: Run all unit tests in the workspace.
      run: dart fix --apply
      packageFilters:
        scope:
          - architecture_lints
